.main {
    max-width: 1200px;
    min-height: 100vh;
    padding-top: 60px;
    margin: auto;
    background-image: url(../../image/background.png);
    background-position: top -40px right;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1220px) {
    .container{
        justify-content: space-around;
    }
    
}
@media screen and (max-width:800px) {
    .container{
        justify-content: center;
    }
}
